
@keyframes example {
    0%   {opacity: 0;}
    50%  {opacity: 0.5;}
    100% {opacity: 0;}
  }

table { 
    position: relative;
    overflow: hidden;
}
td {
    padding: 0px;
    overflow: hidden;
}

#main {
    padding: 0 10px !important;
    min-width: 280px;
    min-height: 280px;
    max-width: 1920px;
    max-height: 1920px;
}

#nexttop,#tablewrap {
    display: flex;
}

#nexttop .btn-lg {
    padding: 5px 15px;
}
#nexttop .btn-danger {
    padding: 0 !important;
}
#nexttop .btn-danger a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
}
#cover {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left:0;
    background-color: transparent;
}
#xchoice {
    height: 10%;
}
#content {
    height: 90%;
    display: flex;
}
#layout {
    height: 100%;
    display: none;
}
#top{
    min-height: 60px;
}
#nexttop {
    min-height: 180px;
}
#picture,#tablewrap {
    display: flex;
}
#tablewrap {
    padding: 15px 0;
}
#picture>div {
   height: 88%;
}
#picture>div>div {
    left:0;
    display: none;
}
#img1 {
    width: 0px;
    height:0px;
}
#picture>div>div button {
    background-color: rgba(255,255,255,0.5);
    color: black;
}
#picture>div>div button:hover {
    background-color: rgba(255,255,255,1);
}
#picture>div>div label {
    background-color: rgba(0,0,0,0.5);
    color: white;
}
#picture>div>div label:hover {
    background-color: rgba(0,0,0,1);
}

#selectimage,#selectsize,#nexttop {
        padding-top: 0.25rem !important;
        padding-bottom: 0.25rem !important;
}

@media screen and (min-width: 480px) and (min-height: 480px) {
    #selectimage,#selectsize,#nexttop {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }
}
@media screen and (min-height: 568px) {
    #selectimage,#selectsize,#nexttop {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
}

@media screen and (max-height: 480px) {
    #selectimage,#selectsize {
        font-size: 1.2rem !important;
    }
    #xchoice {
        font-size: 1.8rem !important;
    }
    #nexttop .btn-lg {
    padding: 3px 10px;
    }

    #nexttop .btn-lg a {
        display: block;
        padding: 3px 10px;
    }
}
@media screen and (max-height: 360px) {
    #selectimage,#selectsize {
        font-size: 1rem !important;
    }
    #xchoice {
        font-size: 1.2rem !important;
    }
    
}

@media screen and (max-width: 480px) {
    #selectimage,#selectsize {
        font-size: 1.2rem !important;
    }
}
@media screen and (max-width: 320px) {
    #top .btn {
        padding: 5px !important;
    }
     #nexttop .btn-lg {
    padding: 3px 10px;
    }

    #nexttop .btn-lg a {
        display: block;
        padding: 3px 10px;
    }
    #xchoice {
        font-size: 2rem !important;
    }
    #selectimage,#selectsize {
        font-size: 1.2rem !important;
    }
}
@media screen and (max-width: 280px) {
    #top .btn {
        padding: 2px !important;
    }
}

